body {
  font-family: "Arial", sans-serif;
  background: #812dc2;
  color: white;
  line-height: 2;
}

.sidebar {
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #0f0f0f;
  color: white;
  padding: 15px;
  text-align: center;
}

.sidebar a {
  color: #9fd3ff;
  display: block;
  text-decoration: none;
  margin: 6px 0;
}

.pad {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bubble {
    background: #6F34EF;
    color: #ffffff;
    border-radius: 60px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.08);
}

.note {
    font-size: 1rem;
    background: #733beb;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    margin-bottom: 10px;
}


.content {
  margin-left: 240px;
  padding: 20px;
  background: #040007;
}

h1, h2, h3 {
  text-align: center;
  color: #8d62d8;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.column {
  padding: 0;
}

.column img {
  width: 100%;
  height: auto;
}

img {
  display: block;
  margin: auto;
}
